.container{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.dialer{
    width: 20vw;
    margin-top: 50px;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap:50px
}