.display-result{
    width:20vw;
    height:5vh;
    border: 1px solid black;
    border-radius: 10px;
}

.align{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5px;
}